@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*do not know what this is... will delete in next stage of project*@
    ViewBag.Title = "Register";
}

@using System.Security.Claims

<div class="text-center">
    <h2>Mr. Fix-It</h2>
    <h3>This is Mr. Fix-It. If this is your first visit, please visit our @Html.ActionLink("About Page", "Index", "About")</h3>
</div><hr />
@*checks if user is logged in and displays "user-name"*@
@if (User.Identity.IsAuthenticated)
{
    <h4>Hello @User.Identity.Name!</h4>

    @*else will ask to register or login*@

} else
{
    <div class="col col-md-6 text-center"><h2>@Html.ActionLink("Register", "Register")</h2></div>
    <div class="col col-md-6 text-center"><h2>@Html.ActionLink("Log in", "Login")</h2></div>
}



