@*this is our create worker view page*@

@using System.Security.Claims
@model MrFixIt.Models.Worker

<html>
<head>
    <title>Create</title>
</head>
<body>
    <h2>Create</h2>
    <hr />
    @*looks if user is authenticated*@
    @if (User.Identity.IsAuthenticated)
    {
        <h4>You do not have a complete worker profile. Please create your worker profile</h4>
        @*uses form to create worker, displaying fields for workers first name and last name*@
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.FirstName)
            @Html.TextBoxFor(model => model.FirstName)
            @Html.LabelFor(model => model.LastName)
            @Html.TextBoxFor(model => model.LastName)


            <input type="submit" value="Register" />
        }
    }



</body>
</html>